/* Were importing font style here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* '*' indicates all elements  */
* {
    /* Box-Sizing: Defines the width & height of an element */
    /* Box-Sizing: border-box includes padding & border */
    box-sizing: border-box;
}

/* body indicates the properties of the whole html "body" */
body {
    background-color: #686de0;

    /* Font from imported style */
    font-family: 'Roboto', sans-serif;

    /* display: flex tells the browser that the container is a flex container */
    /* This allow the section to use flex properties */
    display: flex;

    /* If the element is not a flexible item, flex properties will not apply */
    /* flex-direction: column display elements in column */
    flex-direction: column;
    /* align-items specifies the default alignment inside flexible containers */
    align-items: center;
    /* justify-content aligns elements when the elements do not use all avaiable space */
    justify-content: center;
    
    /* There are 2 different units for CSS: Absolute Lengths & Relative Lengths */
    /* vh is relative to the height  of the viewport */
    /* viewport is the user's visiable area of webpage */
    height: 100vh;

    /* Overflow specifies what will happen if the contents overflow an element's box */
    overflow: hidden;

    /* Margin defines the margins of an element */
    margin: 0;

    /* Padding defines the space between the content and border */
    padding: 20px;

}
 
/* .class is used to refer to <div> with in class*/
.container {
  background-color: #fff;

  /* border-radius defines the radius of the element's corners */
  border-radius: 10px;

  /* box-shadows attach shadows to an element */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

  /* Padding defines the space between the content and border */
  padding: 50px 20px;

  /* text-alight specifies the horizontal alightment of text */
  text-align: center;

  /* max-width defines the maximum width of an element */
  max-width: 100%;

  /* width sets the width of an element */
  width: 800px;
  }

h3 {
  /* Margin defines the margins of an element */
  margin: 0;

  /* opacity sets the opacity level of an element */
  opacity: 0.5;

  /* letter-spacing inc/dec the space between text chars */
  letter-spacing: 2px;
  }

.joke {
  /* font-size sets the size of the font */
  font-size: 30px;

  /* letter-spacing inc/dec the space between text chars */
  letter-spacing: 1px;
  
  /* line-height sets the height of each characters */
  line-height: 40px;

  /* Margin defines the margins of an element */
  margin: 50px auto;
  
  /* max-width defines the maximum width of an element */
  max-width: 600px;
}

/* Style effect for class=btn */
.btn {
  background-color: #9f68e0;
  /* color specifies the color of text */
  color: #fff;

  /* border cuztomize the border of the element */
  border: 0;

  /* border-radius defines the radius of the element's corners */
  border-radius: 10px;

  /* box-shadows attach shadows to an element */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

  /* Padding defines the space between the content and border */
  padding: 14px 40px;
  
  /* font-size specifies the size of the font */
  font-size: 16px;
  
  /* generates different kinds of mouse cursor */
  cursor: pointer;
}

.btn:active {
  /* transform proprty applies a 2D/3D transformation to an element */
  /* There are few transformation: scale,rotate, */
  transform: scale(0.98);
}
  
.btn:focus {
  /* outline is a line drawn around the element (outside borders) */
  outline: 0;
}
  